<p id="notice"><%= notice %></p>


<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Not yet started
        </div>
        <%=render "tasks/form", task: Task.new%>
        <% @not_yet_started_tasks.each do |task| %>
          <%=render "tasks/task", task: task%>
        <%end%>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          In progress
        </div>
        <% @in_progress_tasks.each do |task| %>
          <%=render "tasks/task", task: task%>
        <%end%>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Completed
        </div>
      </div>
      <% @completed_tasks.each do |task| %>
          <%=render "tasks/task", task: task%>
        <%end%>
    </div>
  </div>
</div>
